body{
    background: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper{
   width: 100%;
   max-width: 1200px;
   margin: 40px auto; 
}
h1{
    color: #fff;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
}
.panels{
   list-style-type: none;
   padding: 0; 
}
.panels li{
   position: relative;
   width: 25%;
   display: block; 
   box-sizing: border-box;
   float: left; 
}
.panels li div{
    width: 100%;
    padding: 50% 0;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    letter-spacing: 2px;
    line-height: 0;
    cursor: pointer;
}



/* Animation Styles */

.panels div.back{
    transform: rotateY(90deg);
}
.panels div.front{
    position: absolute;
}
.panels li:hover div.front{
    animation: twirl 0.2s ease-in fowards;
}
.panels li:hover div.back{
    animation: twirl 0.2s 0.2s ease-out fowards reverse;
}
@keyframes twirl{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(90deg);}
}
